
body, h1, ul, ol, li {
  	text-align: center;
    color: #black;
    font-family: "Century Gothic", CenturyGothic,
    AppleGothic, sans-serif; 'Satisfy', cursive;
 }

 h1, h2, h3 {
 	font-family: "Century Gothic", CenturyGothic,
  AppleGothic, sans-serif; 'Satisfy', cursive;
 }

form { text-align:left;
}

.nav-item {
  color: black;
}
.img-fluid {
  opacity:0.5;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {font-size: 10px}
.description:hover {font-size: 15px}

@media only screen and (min-width: 768px) {
  .description {font-size: 15px}
  .description:hover {font-size: 20px}
}

@media only screen and (min-width: 1024px) {
  .description {font-size: 20px}
  .description:hover {font-size: 25px}
